/**
 * @Main scss for (Template/Project Name)
 * @project     - Spotdif
 * @author      - 
 * @created_by  - Muhammad Mahdiul Islam
 * @created_at  - 
 * @modified_by -
 */

/* fonts import */

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/AeonikTRIAL-Light.woff2") format("woff2"),
    url("../fonts/AeonikTRIAL-Light.woff") format("woff"),
    url("../fonts/AeonikTRIAL-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/AeonikTRIAL-Regular.woff2") format("woff2"),
    url("../fonts/AeonikTRIAL-Regular.woff") format("woff"),
    url("../fonts/AeonikTRIAL-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/AeonikTRIAL-Bold.woff2") format("woff2"),
    url("../fonts/AeonikTRIAL-Bold.woff") format("woff"),
    url("../fonts/AeonikTRIAL-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/AeonikPro-Black.woff2") format("woff2"),
    url("../fonts/AeonikPro-Black.woff") format("woff"),
    url("../fonts/AeonikPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Neue Power";
  src: url("../fonts/NeuePower-Regular.woff2") format("woff2"),
    url("../fonts/NeuePower-Regular.woff") format("woff"),
    url("../fonts/NeuePower-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Power";
  src: url('../fonts/NeuePower-Medium.woff2') format('woff2'),
    url('../fonts/NeuePower-Medium.woff') format('woff'),
    url('../fonts/NeuePower-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Power";
  src: url("../fonts/NeuePower-Heavy.woff2") format("woff2"),
    url("../fonts/NeuePower-Heavy.woff") format("woff"),
    url("../fonts/NeuePower-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* fonts import -END */

.ff-n {
  font-family: "Neue Power";
}

/* reset, root */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: "Aeonik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  list-style: none;
}

span {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

input {
  &:focus-visible {
    outline: none;
  }
}

button {
  border: none;
  background: transparent;
}

:root {
  --primary: #b1b4ff;
  --purple-shad: #DCDDFF;
  --white: #ffffff;
  --purple: #0C0053;
  --purple-light: #5E61B9;
  --purple-deep: #6C55F6;
  --blue-light: #1B0262;
  --blue-deep: #0C0053;
}

/* reset, root - END */

// container resize
.container {
  @media (min-width: 1400px) {
    max-width: 1404px;
  }
}

// container resize - end

/* helper , base classes */

// text-color

.text-clr-primary {
  color: var(--primary);
}

.text-clr-purple-shad {
  color: var(--purple-shad);
}

.text-clr-purple-light {
  color: var(--purple-light);
}

// BG color
.bg-clr-purple {
  background-color: var(--purple);
}

.bg-clr-purple-deep {
  background-color: var(--purple-deep);
}

.bg-clr-blue-light {
  background-color: var(--blue-light);
}

.bg-clr-blue-deep {
  background-color: var(--blue-deep);
}

//Font size, weight

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-30 {
  font-size: 30px;
}

.fs-48 {
  font-size: 48px;
}

.fs-56 {
  font-size: 56px;
}

/*font weight*/
.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semi-bold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-heavy {
  font-weight: 800;
}

.fw-black {
  font-weight: 900;
}

.lh-normal {
  line-height: normal !important;
}

.lh-24 {
  line-height: 24px !important;
}

.lh-27 {
  line-height: 27px !important;
}

.lh-28 {
  line-height: 28px !important;
}

.lh-30 {
  line-height: 30px !important;
}

.lh-34 {
  line-height: 34px !important;
}

.lh-40 {
  line-height: 40px !important;
}

.lh-58 {
  line-height: 58px !important;
}

.lh-66 {
  line-height: 66px !important;
}

// Padding classes

.py-30 {
  padding-block: 30px;

  @media (max-width: 991px) {
    padding-block: 19px;
  }

  @media (max-width: 767px) {
    padding-block: 12px;
  }
}

.gap-50 {
  gap: 50px;

  @media (max-width: 1199px) {
    gap: 25px;
  }

  @media (max-width: 991px) {
    gap: 20px;
  }

  @media (max-width: 767px) {
    gap: 15px;
  }
}

/* Btn */
.contact-btn {
  color: var(--white);
  font-family: "Neue Power";
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  border-radius: 100px;
  background: var(--Primary-gggger,
      linear-gradient(90deg, #ffba33 0%, #df9b96 48.44%, #bd7bff 100%));
  padding: 16px 46px 16px 40px;
  transition: all 0.3s ease-in-out;

  svg {
    margin-left: 11px;
    margin-bottom: 6px;
  }

  &:hover {
    background: var(--purple-deep);
    color: var(--white);
  }

  @media (max-width: 991px) {
    padding: 12px 35px 12px 30px;
    font-size: 14px;
    line-height: 22px;
  }
}

.primary-btn {
  color: var(--white);
  font-family: "Neue Power";
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  border-radius: 100px;
  background: var(--Primary-gggger,
      linear-gradient(90deg, #ffba33 0%, #df9b96 48.44%, #bd7bff 100%));
  gap: 11px;
  align-items: center;
  padding: 16px 46px 16px 40px;
  display: inline-flex;
  transition: all 0.3s linear;

  @media(max-width:991px) {
    padding: 12px 35px 12px 30px;
  }
  @media (max-width:575px) {
    font-size: 14px !important;
    line-height: 22px !important;
    padding: 14px 30px 14px 24px;
  }
  @media (max-width:375px) {
    padding: 12px 0 12px 0;
    justify-content: center;
    font-size: 14px !important;
    line-height: 22px !important;
  }

  svg {
    margin-bottom: 4px;
  }

  &:hover {
    background: var(--purple-deep);
    color: var(--white);
  }


}

.secondary-btn {
  font-family: "Neue Power";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  background: var(--Primary-gggger,
      linear-gradient(90deg, #ffba33 0%, #df9b96 48.44%, #bd7bff 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 100px;
  border: 1px solid var(--Primary-gggger, #ffba33);
  padding: 16px 46px 16px 40px;
  gap: 11px;
  align-items: center;
  transition: all 0.3s linear;
  @media (max-width:575px) {
    font-size: 14px !important;
    line-height: 22px !important;
    padding: 14px 30px 14px 24px;
  }
  @media (max-width:375px) {
    margin-top: 11.25px;
    padding: 12px 0 12px 0;
    justify-content: center;
  }
  svg {
    margin-bottom: 4px;
  }

  &:hover {
    background: var(--blue-deep);
    -webkit-text-fill-color: var(--white);
    border: 1px solid var(--white);
  }


}

/* helper , base classes  - END*/


//Header section start
header {
  .nav-wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1728px;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #27197b;

    .navbar-brand {
      img {
        @media (max-width:991px) {
          max-height: 48px;
        }

        @media (max-width:375px) {
          max-height: 36px;
        }
      }
    }

    .navbar-toggler-icon {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="17" viewBox="0 0 22 17" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.9 2.24074H1.1C0.492807 2.24074 0 1.73884 0 1.12037C0 0.501896 0.492807 0 1.1 0H20.9C21.5072 3.66133e-05 22 0.501932 22 1.1204C22 1.73884 21.5072 2.24074 20.9 2.24074ZM10.3105 14.666H20.9C21.5072 14.666 22 15.1679 22 15.7864C22 16.4049 21.5072 16.9068 20.9 16.9068H10.3105C9.70331 16.9068 9.21051 16.4049 9.21051 15.7863C9.21051 15.1679 9.70331 14.666 10.3105 14.666ZM20.9 7.33398H1.1C0.492807 7.33398 0 7.83595 0 8.45439C0 9.07283 0.492807 9.57476 1.1 9.57476H20.9C21.5072 9.57476 22 9.07286 22 8.45439C22 7.83592 21.5072 7.33398 20.9 7.33398Z" fill="white"/></svg>');
      width: 22px;
      height: 16.907px;
    }

    .navbar-collapse {
      .navbar-nav {
        @media (max-width:991px) {
          background: #0F006D;
          padding: 25px;
          border-radius: 0 0 20px 20px;
        }

        .nav-item {
          .nav-link {
            &:hover {
              color: var(--white);
            }

            @media(max-width:575px) {
              font-size: 16px !important;
              line-height: 26px !important;
            }
          }
        }
      }
    }
  }

  .navbar-toggler {
    @media (max-width: 991px) {
      padding: 0;
      padding-left: 20px;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

//Header section end

// Hero section start
.hero {
  position: relative;
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 212px;
  overflow: hidden;

  @media (max-width: 991px) {
    background-image: url("../img/hero-md-bg.png");
    padding-top: 146px;
  }

  @media (max-width: 375px) {
    background-image: url("../img/hero-sm-bg.png");
    padding-top: 90px;
  }

  h2 {
    padding-bottom: 10px;

    @media(max-width: 1199px) {
      font-size: 42px;
      line-height: 49.5px !important;
    }

    @media(max-width: 767px) {
      font-size: 28px;
      line-height: 38px !important;
    }

    @media(max-width: 375px) {
      padding: 0;
      text-wrap: balance;
    }
  }

  h1 {
    font-family: "Neue Power";
    background: linear-gradient(90deg, rgba(86, 121, 241, 1) 0%, rgba(220, 246, 217, 1) 38%, rgba(120, 226, 144, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: transparent;
    font-size: 101px;
    font-weight: 500;
    line-height: 85px;

    @media (max-width:1399px) {
      font-size: 85px !important;
      line-height: 75px !important;
    }

    @media (max-width:1199px) {
      font-size: 80px !important;
      line-height: 75px !important;
    }

    @media (max-width:575px) {
      font-size: 57px !important;
      line-height: 57px !important;
    }
  }

  h5 {
    padding-top: 40px;
    padding-bottom: 30px;

    @media (max-width: 1199px) {
      font-size: 18px !important;
      line-height: 28px !important;
      padding-block: 23px;
    }

    @media (max-width: 991) {
      padding-top: 40px !important;
      padding-bottom: 30px !important;
    }

    @media (max-width: 575px) {
      font-size: 16px !important;
      line-height: 26px !important;
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }

  .hero-btns {
    @media(max-width:375px) {
      display: block !important;
    }
  }

  img {
    @media (max-width: 991px) {
      max-height: 424px;
      height: 100%;
      padding-top: 71px;
    }

    @media (max-width: 375px) {
      max-height: 298px;
      height: 100%;
      padding-top: 69.25px !important;
    }
  }
}

// Hero section end

// Brands section start
.brands {
  padding-block: 30px;

  h5 {
    max-width: 930px;
    padding-bottom: 30px;

    @media (max-width:575px) {
      font-size: 16px !important;
      line-height: 26px !important;
    }
  }

  .brands-img {
    @media (max-width:1199px) {
      justify-content: center !important;
      gap: 92px;
      row-gap: 24px;
    }

    @media (max-width:991px) {
      .brand {
        img {
          max-height: 27.95px;
          height: 100%;
        }
      }

      gap: 60px;
      row-gap: 24px;
    }

    @media (max-width:375px) {
      .brand {
        img {
          max-height: 16px;
          height: 100%;
        }
      }

      gap: 34.25px;
      row-gap: 20px;
    }
  }
}

// Brands section end


// Metaverse section start
.metaverse {
  padding-block: 121px 470px;
  position: relative;
  z-index: 9;

  &::before {
    position: absolute;
    content: "";
    background-image: url('../img/metaverse-p-l.png');
    background-repeat: no-repeat;
    height: 370px;
    width: 255px;
    left: 0;
    top: 54px;
    z-index: -8;

    @media(max-width:1700px) {
      background-size: contain;
      height: 302px;
      width: 184px;
      top: 34px;
    }

    @media(max-width:1399px) {
      height: 245px;
      width: 150px;
      top: 34px;
    }

    @media(max-width:1199px) {
      height: 181px;
      width: 125px;
      top: 54px;
    }

    @media(max-width:991px) {
      height: 141px;
      width: 71px;
      top: 127px;
    }

    @media(max-width:991px) {
      height: 141px;
      width: 71px;
      top: 127px;
    }

    @media(max-width:767px) {
      height: 103px;
      width: 52px;
      top: 130px;
    }

    @media(max-width:575px) {
      height: 71px;
      width: 49px;
      top: 89px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url('../img/metaverse-p-r.png');
    background-repeat: no-repeat;
    height: 989px;
    width: 1920px;
    right: 0;
    bottom: 0px;
    opacity: 0.2;
    z-index: -9;

    @media(max-width:1780px) {
      display: none;
    }
  }


  @media (max-width:991px) {
    padding-block: 80px 653px !important;
  }

  @media (max-width:575px) {
    padding-block: 60px 326px !important;
  }

  .meta-container {
    max-width: 1404px;
    margin: auto;

    h2 {
      padding-bottom: 60px;

      @media (max-width:575px) {
        font-size: 28px;
        line-height: 38px !important;
        padding-bottom: 30px;
      }
    }

    .splide {
      .splide__track {
        padding-inline: 20px !important;

        @media (max-width:991px) {
          padding-inline: 40px !important;

          .splide__list {
            .splide__slide {
              width: auto !important;
            }
          }
        }
      }

      .splide__pagination {
        bottom: -30px;
        gap: 10px;

        .splide__pagination__page {
          background: #301381;
          margin: 0;
        }

        .is-active {
          background: #BD7BFF;
          transform: none;
        }

        @media(max-width:991px) {
          bottom: -40px;

        }
      }
    }

    .metacard {
      text-align: center;
      border-radius: 48px;
      padding: 40px;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 48px;
        padding: 2px;
        background: linear-gradient(180deg, rgba(113, 89, 255, 1), rgba(113, 89, 255, 0.15));
        -webkit-mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;

        @media (max-width:575px) {
          border-radius: 23px;
        }
      }

      h4 {
        padding-block: 40px 15px;
      }

      &:hover {
        background: linear-gradient(180deg, rgba(110, 87, 250, 0.30) 0%, rgba(110, 87, 250, 0.00) 100%);
      }

      @media (max-width:991px) {
        max-width: 450px !important;
        width: 100%;
      }

      @media (max-width:575px) {
        border-radius: 24px;
        border: 1px solid #7159FF;
        padding: 20px;
        max-width: 225px !important;

        img {
          max-width: 115px;
        }

        h4 {
          padding-block: 20px 7.5px;
          font-size: 16px;
          line-height: 22px !important;
        }

        h5 {
          font-size: 14px !important;
          line-height: 20px !important;
        }
      }
    }

  }
}

// Metaverse section end

// Review section start
.review-wrapper {
  .review-wrap {
    background: url('../img/client-review-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 48px;
    position: relative;
    margin-top: -350px;
    z-index: 10;

    @media (max-width:991px) {
      background: url('../img/client-review-md-bg.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      margin-top: -535px;

      .client-img {
        text-align: center;

        img {
          max-height: 500px;
        }
      }
    }

    @media (max-width:575px) {
      background: url('../img/client-review-sm-bg.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      border-radius: 23.93px;
      margin-top: -248px;

      .client-img {
        text-align: center;

        img {
          max-height: 249px;
        }
      }
    }

    .content {
      padding: 103px 60px 102px 0;

      @media(max-width:1399px) {
        padding: 50px 25px 50px 0;
      }

      @media(max-width:991px) {
        padding: 30px 30px 30px 30px;
      }

      @media(max-width:575px) {
        padding: 15px 15px 25px 15px;
      }

      h3 {
        padding-bottom: 60px;

        @media (max-width:1399px) {
          font-size: 25px !important;
          line-height: 35px !important;
          padding-bottom: 40px !important;
        }

        @media (max-width:1199px) {
          font-size: 22px !important;
          line-height: 32px !important;
          padding-bottom: 40px !important;
        }

        @media (max-width:991px) {
          font-size: 30px !important;
          line-height: 40px !important;
          padding-bottom: 60px !important;
        }

        @media (max-width:767px) {
          font-size: 20px !important;
          line-height: 30px !important;
          padding-bottom: 40px !important;
        }

        @media (max-width:575px) {
          font-size: 16px !important;
          line-height: 19.942px !important;
          padding-bottom: 20px !important;
        }
      }

      .client-name {
        h3 {
          padding-bottom: 5px !important;

          @media (max-width:991px) {
            padding: 0;
          }
        }

        h5 {
          color: #CBC2FF;

          @media (max-width:575px) {
            font-size: 12px !important;
            line-height: 14.956px !important;
          }
        }

        .quote {
          @media (max-width:767px) {
            svg {
              width: 47.39px;
              height: 36.49px;
            }
          }

          @media (max-width:575px) {
            svg {
              width: 37.39px;
              height: 26.49px;
            }
          }
        }
      }
    }
  }
}

// Review section end


// Microverse section start
.microverse {
  padding-block: 120px;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    background-image: url('../img/microvers-p.png');
    background-repeat: no-repeat;
    bottom: 0;
    left: 634px;
    width: 431px;
    height: 195px;

    @media (max-width:1070px) {
      background-size: contain;
      width: 275px;
      height: 124px;
      bottom: 0 !important;
      left: 397px;
    }

    @media (max-width:991px) {
      width: 216;
      height: 97px;
      bottom: 0;
      left: 297px;
      background-size: contain;
    }

    @media (max-width:575px) {
      width: 159;
      height: 73.5px;
      bottom: 0;
      left: 122px;
      background-size: contain;
    }
  }

  @media (max-width:991px) {
    padding-block: 80px;

    .py-40 {
      padding-block: 40px !important;
    }
  }

  @media (max-width:575px) {
    padding-block: 60px;

    .py-40 {
      padding-block: 30px !important;
    }
  }

  h2 {
    padding-bottom: 60px;

    @media (max-width:991px) {
      padding-bottom: 40px;
    }

    @media (max-width:575px) {
      padding-bottom: 30px;
      font-size: 26px;
      line-height: 38px !important;
    }
  }

  .content {
    gap: 50px;

    @media (max-width:1070px) {
      gap: 25px !important;
    }

    @media (max-width:991px) {
      gap: 29px;
    }

    @media (max-width:575px) {
      gap: 20px;
      padding-inline: 4px;

      h5 {
        font-size: 14px !important;
        line-height: 22px !important;
      }
    }

    .h1 {
      font-family: "Neue Power";
      font-size: 72px;
      font-weight: 300;
      line-height: 58px;
      background: var(--Primary-gggger, linear-gradient(90deg, #FFBA33 0%, #DF9B96 48.44%, #BD7BFF 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      max-width: 46px;
      width: 100%;

      @media (max-width:575px) {
        font-size: 52px;
        line-height: 62px !important;
        max-width: 33px;
        width: 100%;
      }
    }
  }


}

// Microverse section end


// Brand boost section start
.brand-boost {
  padding-block: 120px;
  position: relative;

  @media (max-width:991px) {
    padding-block: 80px;
  }

  @media (max-width:575px) {
    padding-block: 60px;
  }

  &::before {
    position: absolute;
    content: '';
    background-image: url('../img/brand-boost-position-l.png');
    background-repeat: no-repeat;
    top: 65px;
    left: 89px;
    width: 170px;
    height: 166px;

    @media(max-width:1199px) {
      background-size: contain;
      width: 154px;
      height: 150px;
      top: 120px;
      left: 0;
    }

    @media(max-width:991px) {
      background-size: contain;
      width: 85px;
      height: 83px;
      top: 120px;
      left: -45px;
    }

    @media(max-width:575px) {
      display: none;
    }
  }

  &::after {
    position: absolute;
    content: '';
    background-image: url('../img/brand-boost-position-r.png');
    background-repeat: no-repeat;
    bottom: 112px;
    right: 0;
    width: 172px;
    height: 215px;

    @media(max-width:1714px) {
      background-size: contain;
      width: 112px;
      height: 140px;
      bottom: 50.75px;
      right: 0;
    }

    @media(max-width:991px) {
      background-size: contain;
      width: 107px;
      height: 107px;
      bottom: 50.75px;
      right: -54.25px;
    }

    @media(max-width:575px) {
      display: none;
    }
  }

  .meta-container {
    max-width: 1404px;
    margin: auto;

    h2 {
      padding-bottom: 60px;
      max-width: 688px;

      @media (max-width:991px) {
        padding-bottom: 40px;
      }

      @media (max-width:575px) {
        font-size: 28px;
        line-height: 38px !important;
        padding-bottom: 30px;
        max-width: 343px;
      }
    }

    .splide {
      .splide__track {
        padding-inline: 20px !important;

        @media (max-width:991px) {
          padding-inline: 40px !important;

          .splide__list {
            .splide__slide {
              width: auto !important;
            }
          }
        }

        @media (max-width:575px) {
          padding-inline: 16px !important;
        }
      }

      .splide__pagination {
        bottom: -30px;
        gap: 10px;

        .splide__pagination__page {
          background: #301381;
          margin: 0;
        }

        .is-active {
          background: #BD7BFF;
          transform: none;
        }
      }
    }

    .metacard {
      text-align: center;
      border-radius: 48px;
      padding: 40px 30px;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 48px;
        padding: 2px;
        background: linear-gradient(180deg, rgba(113, 89, 255, 1), rgba(113, 89, 255, 0.15));
        -webkit-mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;

        @media (max-width:575px) {
          border-radius: 20px !important;
        }
      }

      h4 {
        padding-block: 40px 10px;
      }


      &:hover {
        background: linear-gradient(180deg, rgba(110, 87, 250, 0.30) 0%, rgba(110, 87, 250, 0.00) 100%);
      }

      @media (max-width:991px) {
        max-width: 330px !important;
        width: 100%;
      }

      @media (max-width:575px) {
        border-radius: 24px;
        border: 1px solid #7159FF;
        padding: 20px;
        max-width: 225px !important;
        height: 365px;

        img {
          max-width: 115px;
        }

        h4 {
          padding-block: 20px 7.5px;
          font-size: 16px;
          line-height: 22px !important;
        }

        h5 {
          font-size: 14px !important;
          line-height: 20px !important;
        }
      }
    }

    a {
      margin-top: 60px;

      @media (max-width:991px) {
        margin-top: 78px;
      }

      @media (max-width:575px) {
        margin-top: 68px;
        text-align: center;
        margin-inline: 16px;
      }

      @media (max-width:375px) {
        display: block !important;
        width: 100%;
      }
    }
  }
}

// Brand boost section end

// Strategize section start
.strategize {
  padding-block: 120px 381px;
  position: relative;

  @media (max-width:991px) {
    padding-block: 80px 540px;
  }

  @media (max-width:575px) {
    padding-block: 60px 288px;
  }

  &::before {
    position: absolute;
    content: '';
    background-image: url('../img/strategize-l.png');
    background-repeat: no-repeat;
    width: 224px;
    height: 504px;
    top: 0;
    left: 0;

    @media (max-width:1399px) {
      background-size: contain;
      width: 178px !important;
      height: 400px !important;
    }

    @media (max-width:1199px) {
      display: none;
    }
  }

  &::after {
    position: absolute;
    content: '';
    background-image: url('../img/brand-boost-position-l.png');
    background-repeat: no-repeat;
    width: 170px;
    height: 166px;
    right: 2px;
    bottom: 122px;

    @media (max-width:1199px) {
      display: none;
    }
  }

  .heading {
    h6 {
      background: linear-gradient(90deg, #FFBA33 0%, #DF9B96 48.44%, #BD7BFF 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h2 {
      padding-block: 20px 10px;

      @media(max-width:575px) {
        font-size: 28px;
        line-height: 38px !important;
        padding-block: 10px;

      }
    }

    h5 {
      max-width: 688px;
      margin: auto;
      padding-bottom: 60px;

      @media (max-width:991px) {
        padding-bottom: 45px;
      }

      @media (max-width:575px) {
        font-size: 16px;
        line-height: 26px !important;
        padding-bottom: 30px;
      }
    }
  }

  #strategizeSlider {
    .explore-slide-head {
      background: var(--Primary-gggger,
          linear-gradient(90deg, #ffba33 0%, #df9b96 48.44%, #bd7bff 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .splide__track {
      @media (max-width:991px) {
        padding-inline: 40px !important;
      }

      @media (max-width:575px) {
        padding-inline: 16px 15px !important;
      }
    }

    .splide__track--ltr {
      padding-bottom: 60px !important;

      @media (max-width:575px) {
        padding-bottom: 30px !important;
      }
    }

    .splide__list {
      .splide__slide {
        opacity: 0.2;

        &.is-visible {
          opacity: 1;
        }

        .content {

          .h1 {
            font-family: "Neue Power";
            font-size: 72px;
            font-weight: 300;
            line-height: normal;
            background: var(--Primary-gggger, linear-gradient(90deg, #FFBA33 0%, #DF9B96 48.44%, #BD7BFF 100%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @media (max-width:575px) {
              font-size: 52px;
              line-height: 62px !important;
            }
          }

          h4 {
            padding-block: 15px;

            @media (max-width:575px) {
              font-size: 18px;
              line-height: 26px !important;
              padding-block: 10px 15px;

            }
          }

          h5 {
            @media (max-width:575px) {
              font-size: 14px;
              line-height: 24px !important;
            }
          }
        }
      }
    }

    .splide__arrow {
      width: 56px;
      height: 56px;
      background: linear-gradient(90deg,
          rgba(255, 186, 51, 1) 0%,
          rgba(223, 155, 150, 1) 50%,
          rgba(189, 123, 255, 1) 100%);
      border-radius: 200px;
      opacity: 1;

      @media (max-width:575px) {
        width: 46px;
        height: 46px;

        svg {
          width: 13.14px;
          height: 13.14px;
        }
      }

      &.splide__arrow--prev {
        left: 60px;

        @media (max-width:575px) {
          left: 16px;
        }
      }

      &.splide__arrow--next {
        right: 60px;

        @media (max-width:575px) {
          right: 16px;
        }
      }
    }

    .splide__arrow:disabled {
      opacity: 0;
    }

    .my-slider-progress {
      background: var(--white);
      margin-inline: 255px;

      @media(max-width:991px) {
        margin-inline: 40px;
      }

      @media(max-width:575px) {
        margin-top: 30px;
      }
    }

    .my-slider-progress-bar {
      background: #6C55F6;
      height: 3px;
      transition: width 400ms ease;
      width: 0;
    }
  }

}

// Strategize section end

// Next Generation section start
.next-gen-wrapper {
  .next-gen-wrap {
    padding: 0 120px;
    border-radius: 48px !important;
    margin-top: -261px !important;
    position: relative !important;
    overflow: hidden;
    z-index: 9;

    @media (max-width:1399px) {
      padding: 0 50px;
      margin-top: -230px !important;
    }

    @media (max-width:991px) {
      display: flex;
      text-align: center;
      padding: 30px 30px 0 30px;
      margin-top: -460px !important;
    }

    @media (max-width:575px) {
      border-radius: 23.93px !important;
      display: flex;
      text-align: center;
      padding: 15px 15px 0 15px;
      margin-top: -229px !important;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url(../img/next-gen-p.png);
      background-repeat: no-repeat;
      height: 522px;
      width: 1048px;
      bottom: 0;
      right: 0;
      z-index: -9;

      @media (max-width:1399px) {
        right: -85px;
      }

      @media (max-width:991px) {
        background-image: url('../img/next-gen-md-p.png');
        background-size: contain;
        height: 550px;
        left: 0;
        bottom: 0;
      }

      @media (max-width:767px) {
        height: 425px;
        width: 560px;
      }

      @media (max-width:575px) {
        background-image: url('../img/next-gen-sm-p.png');
        height: 420px;
        width: 551px;
      }

      @media (max-width:375px) {
        background-image: url('../img/next-gen-sm-p.png');
        height: 267px;
        width: 351px;
      }
    }

    .content {
      padding-block: 112px;
      min-width: 719px !important;
      width: 100% !important;

      @media (max-width:1399px) {
        padding-block: 80px !important;
        min-width: 650px !important;
      }

      @media (max-width:1199px) {
        padding-block: 60px !important;
        min-width: 450px !important;
      }

      @media (max-width:991px) {
        min-width: auto !important;
        padding: 0 !important;
      }

      h2 {
        @media (max-width:1399px) {
          font-size: 45px;
          line-height: 55px !important;
        }

        @media (max-width:991px) {
          font-size: 56px;
          line-height: 66px !important;
        }

        @media (max-width:767px) {
          font-size: 40px !important;
          line-height: 50px !important;
        }

        @media (max-width:575px) {
          font-size: 28px !important;
          line-height: 33px !important;
        }
      }

      h5 {
        padding-block: 20px 30px;

        @media (max-width:1399px) {
          font-size: 15px !important;
          line-height: 25px !important;
        }

        @media (max-width:991px) {
          font-size: 20px !important;
          line-height: 30px !important;
        }

        @media (max-width:767px) {
          font-size: 18px !important;
          line-height: 28px !important;
        }

        @media (max-width:575px) {
          font-size: 10px !important;
          line-height: 18px !important;
          padding-block: 10px 15px;

        }
      }

      a {
        &:hover {
          background: var(--purple);
          color: var(--white);
        }

        @media (max-width:991px) {
          padding: 16px 46px 16px 40px !important;
        }

        @media (max-width:575px) {
          font-size: 12px !important;
          line-height: 18px !important;
          padding: 5px 24px 5px 20px !important;

          svg {
            width: 8.6px;
            height: 7.6px;
          }
        }
      }
    }

    .img {
      z-index: 9;

      img {
        @media (max-width:575px) {
          max-width: 248px;
          height: 100%;
        }
      }
    }
  }
}
// Next Generation section end

// Help brands section start
.help-brands {
  padding-block: 120px;
  position: relative;
  z-index: 9;

  @media (max-width:991px) {
    padding-block: 80px 128px;
  }

  @media (max-width:575px) {
    padding-block: 51px 80px;
  }

  &::before {
    position: absolute;
    content: '';
    background-image: url('../img/help-brands-l.png');
    background-repeat: no-repeat;
    bottom: 158px;
    left: 0;
    width: 145px;
    height: 215px;

    @media(max-width:991px) {
      display: none;
    }
  }

  &::after {
    position: absolute;
    content: '';
    background-image: url('../img/help-brands-r.png');
    background-repeat: no-repeat;
    bottom: 0;
    right: 135px;
    width: 433px;
    height: 195px;
    z-index: -3;

    @media(max-width:1399px) {
      width: 400px;
      height: 180px;
      background-size: contain;
      right: 185px;
    }

    @media(max-width:991px) {
      width: 216px;
      height: 97px;
      background-size: contain;
      right: 85px;
    }

    @media(max-width:991px) {
      width: 121px;
      height: 55px;
      background-size: contain;
      right: 19px;
    }
  }

  .meta-container {
    max-width: 1404px;
    margin: auto;
    z-index: 8;

    h2 {
      padding-bottom: 60px;
      max-width: 688px;
      margin: auto;

      @media (max-width:991px) {
        padding-bottom: 80px;
      }

      @media (max-width:575px) {
        font-size: 28px;
        line-height: 38px !important;
        padding-bottom: 30px;
      }
    }

    .splide {
      .splide__track {
        padding-inline: 20px !important;

        @media (max-width:991px) {
          padding-inline: 40px !important;

          .splide__list {
            .splide__slide {
              width: auto !important;
            }
          }
        }

        @media (max-width:575px) {
          padding-inline: 16px !important;
        }
      }

      .splide__pagination {
        bottom: -30px;
        gap: 10px;

        .splide__pagination__page {
          background: #301381;
          margin: 0;
        }

        .is-active {
          background: #BD7BFF;
          transform: none;
        }
      }
    }

    .metacard {
      text-align: center;
      padding: 40px;
      z-index: 99;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 22px;
        padding: 2px;
        background: linear-gradient(180deg, rgba(113, 89, 255, 1), rgba(113, 89, 255, 0.15));
        -webkit-mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
      }

      h4 {
        padding-block: 40px 15px;
      }

      &:hover {
        background: linear-gradient(180deg, rgba(110, 87, 250, 0.30) 0%, rgba(110, 87, 250, 0.00) 100%);
      }

      @media (max-width:991px) {
        max-width: 450px !important;
        width: 100%;
      }

      @media (max-width:575px) {
        border-radius: 24px;
        border: 1px solid #7159FF;
        padding: 27px;
        max-width: 225px !important;
        height: 330px;

        img {
          max-width: 115px;
        }

        h4 {
          padding-block: 20px 7.5px;
          font-size: 16px;
          line-height: 22px !important;
        }

        h5 {
          font-size: 14px !important;
          line-height: 20px !important;
        }
      }
    }

  }
}

// Help brands section end

// Gallery section start
.gallery {
  padding-block: 120px;
  position: relative;
  z-index: 9;

  @media(max-width:991px) {
    padding-block: 80px;
  }

  @media(max-width:575px) {
    padding-block: 60px;
  }

  &::after {
    position: absolute;
    content: '';
    background-image: url('../img/gallery-position-r.png');
    background-repeat: no-repeat;
    width: 201px;
    height: 402px;
    right: 0;
    bottom: 76px;
    z-index: -1;

    @media(max-width:1799px) {
      width: 140px;
      height: 300px;
      background-size: contain;
    }

    @media(max-width:991px) {
      width: 140px;
      height: 140px;
      background-size: contain;
      right: -86.7px;
      bottom: -28px;
    }
  }

  h2 {
    @media(max-width:575px) {
      font-size: 28px;
      line-height: 38px !important;
    }
  }

  h5 {
    padding-block: 10px 60px;

    @media(max-width:991px) {
      padding-block: 10px 40px;
    }

    @media(max-width:575px) {
      font-size: 16px;
      line-height: 26px !important;
      padding-block: 5px 30px;
    }
  }

  .gap-30 {
    gap: 30px;

    @media (max-width:575px) {
      gap: 13px;
      padding-right: 0;
    }
  }
}

// Gallery section end

// Specialize section start
.specialize {
  padding-block: 120px 381px;
  position: relative;

  @media(max-width:991px) {
    padding-block: 80px 540px;
  }

  @media(max-width:575px) {
    padding-block: 60px 289px;
  }

  h2 {
    max-width: 688px;
    padding-bottom: 60px;

    @media(max-width:575px) {
      font-size: 28px;
      line-height: 38px !important;
      padding-bottom: 30px;
    }
  }

  .pt-30 {
    padding-top: 30px;

    @media (max-width:991px) {
      padding-top: 0;
    }
  }

  .gap-30 {
    @media (max-width:991px) {
      gap: 30px;
    }

    @media (max-width:575px) {
      gap: 15px;
    }
  }

  .tech-card {
    display: flex;
    align-items: center;
    border-radius: 48px;
    min-height: 304px;
    height: 100%;
    background-image: url('../img/tech-card-bg.png');
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width:1399px) {
      min-height: 250px !important;
    }

    @media (max-width:1199px) {
      min-height: 200px !important;
    }

    @media (max-width:991px) {
      min-height: 304px !important;
    }

    @media (max-width:767px) {
      min-height: 200px !important;
      justify-content: center;
      background-position: center center;
      background-size: cover;
      border-radius: 24px !important;
    }

    @media (max-width:575px) {
      background-image: url('../img/tech-card-bg-sm.png');
      background-repeat: no-repeat;
      background-size: contain;
      min-height: 180px !important;
      max-width: 343px !important;
      justify-content: start;
      margin: auto;
    }

    &:hover {
      background: linear-gradient(180deg, rgba(113, 89, 255, 1), rgba(113, 89, 255, 0.15));
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    }

    .img {
      padding-inline: 30px;
      z-index: 9;

      @media (max-width:1399px) {
        padding-inline: 15px;
      }

      @media (max-width:1199px) {
        padding-inline: 10px;
      }

      @media (max-width:991px) {
        padding-inline: 30px;
      }

      @media (max-width:767px) {
        padding-inline: 10px;
      }

      @media (max-width:575px) {
        padding-inline: 18.76px !important;
      }

      img {
        @media (max-width:1399px) {
          max-width: 210px !important;
        }

        @media (max-width:1199px) {
          max-width: 170px !important;
        }

        @media (max-width:991px) {
          max-width: 264px !important;
        }

        @media (max-width:767px) {
          max-width: 170px !important;
        }

        @media (max-width:575px) {
          max-width: 114px !important;
        }
      }

    }

    .content {
      h4 {
        padding-bottom: 10px;

        @media (max-width:1399px) {
          font-size: 20px !important;
          line-height: 30px !important;
        }

        @media (max-width:991px) {
          font-size: 24px !important;
          line-height: 34px !important;
        }

        @media (max-width:767px) {
          font-size: 20px !important;
          line-height: 30px !important;
        }

        @media (max-width:575px) {
          font-size: 14px !important;
          line-height: 22px !important;
          padding-bottom: 5px !important;
        }
      }

      p {
        max-width: 306px;

        @media (max-width:1399px) {
          font-size: 16px !important;
          line-height: 26px !important;
          max-width: 250px !important;
        }

        @media (max-width:991px) {
          font-size: 18px !important;
          line-height: 28px !important;
          max-width: 306px !important;
        }

        @media (max-width:767px) {
          font-size: 16px !important;
          line-height: 26px !important;
          max-width: 250px !important;
        }

        @media (max-width:575px) {
          font-size: 12px !important;
          line-height: 18px !important;
          max-width: 170px !important;
        }
      }
    }

  }
}

// Specialize section end

//Next Generation section start
.next-gen-wrapper {
  .bg-reverse {
    position: relative;
    padding-inline: 84.5px 120px !important;

    @media(max-width:1399px) {
      padding: 0 !important;
    }

    @media(max-width:1199px) {
      padding-inline: 20px !important;

    }
    @media(max-width:991px) {
      padding: 30px 30px 0 30px !important;
    }
    @media(max-width:375px) {
      padding: 15px 15px 0 15px !important;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url(../img/next-gen-wrapper-p1.png);
      background-repeat: no-repeat;
      height: 522px;
      width: 1047px;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: -9;

      @media (max-width:1399px) {
        height: 428px;
        width: 860px;
        background-size: contain;
        left: -60px;
      }

      @media (max-width:1199px) {
        height: 456px;
        width: 915px;
        left: -70px;
      }

      @media (max-width:991px) {
        position: absolute;
        background-image: url(../img/next-gen-md-p.png);
        background-repeat: no-repeat;
        width: 695px;
        height: 528px;
        top: 404px !important;
        left: 0;
    }

      @media (max-width:767px) {
        height: 390px !important;
        width: 515px !important;
        top: 565px !important;
      }

      @media (max-width:575px) {
        background-image: url('../img/next-gen-sm-p.png');
        background-size: contain;
        height: 461px !important;
        width: 550px !important;
        top: 70px !important;
        left: 0;
      }

      @media (max-width:350px) {
        background-size: contain;
        height: 267px !important;
        width: 330px !important;
        top: 275px !important;
      }
    }

    .content {
      padding-block: 111px;
      @media(max-width:1399px) {
        min-width: auto !important;
      }
    }

    .img {
      min-width: 500px !important;
      width: 100% !important;

      @media(max-width:1399px) {
        min-width: 400px !important;
        padding-left: 40px;
      }

      @media(max-width:1199px) {
        min-width: 380px !important;
        padding-left: 0;
      }
      @media(max-width:991px) {
        min-width: 522px !important;
        display: flex;
        justify-content: center;
        padding-top: 10px;
      }
      
      @media(max-width:767px) {
        min-width: auto !important;
      }
    }

  }
}

// Next Generation section end

// Footer Section start
footer {
  background-image: url('../img/footer-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-block: 381px 30px;
  margin-top: -261px;

  @media(max-width:991px) {
    background: var(--purple);
    padding-block: 340px 20px;
  }

  @media(max-width:575px) {
    padding-block: 293px 15.5px;
  }

  h4 {
    padding-bottom: 30px;

    @media(max-width:991px) {
      padding-bottom: 30px;
    }

    @media(max-width:575px) {
      font-size: 18px;
      line-height: 16px !important;
      padding-bottom: 20px;
    }
  }

  .logo {
    @media(max-width:575px) {
      padding-bottom: 30px;
    }
  }

  ul {
    li {
      padding-bottom: 15px;

      @media (max-width:575px) {
        padding-bottom: 12px;
      }

      a {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: var(--primary);
        transition: 0.3s linear;

        @media (max-width:575px) {
          font-size: 14px;
          line-height: 21px !important;
        }

        &:hover {
          color: var(--white);
        }
      }
    }
  }
  .pt-25{
    @media (max-width:991px) {
      padding-top: 25px;
    }
  }
  .pt-18 {
    @media(max-width:575px) {
      padding-block: 18px 15px;
    }
  }

  .search {
    min-width: 278px;

    @media(max-width:575px) {
      max-width: 400px;
    }

    input {
      width: 100%;
      padding: 14px 30px;
      border: 1px solid #FFBA33;
      background: var(--purple);
      border-radius: 100px;
      color: #fff;

      @media (max-width:375px) {
        padding: 7px 16px !important;
        display: block !important;
        max-height: 28px;
        font-size: 12px;
      }

      &::placeholder {
        color: var(--purple-light);
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;

        @media (max-width:375px) {
          font-size: 10px !important;
          line-height: 12px !important;
        }
      }
    }
  }

  button {
    @media (max-width:575px) {
      margin-top: 12px  !important;
    }
    @media(max-width:375px) {
      width: 100%;
      padding-block: 5px !important;
      font-size: 12px !important;
      line-height: 18px !important;
    }
  }

  .privacy {
    @media(max-width:375px) {
      font-size: 10px !important;
      line-height: 12px !important;
      text-align: center;
      padding-top: 12px !important;
      margin: 0 !important;
    }
  }

  .footer-divider {
    border-bottom: 1px solid #2B1C83;
    margin-block: 15px 30px;

    @media(max-width:991px) {
      margin-block: 40px 20px;
    }

    @media(max-width:575px) {
      margin-block: 30px 12px;
    }
  }

  .copyright {
    @media(max-width:375px) {
      font-size: 12px !important;
      line-height: 18px !important;
      text-align: center !important;
      padding-top: 22px;
    }
  }
}

// Footer Section end